#startbutton {
  border: none;
  border-radius: 10px;
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
  inset -2px -2px 3px rgba(0, 0, 0, .6);
  color: #000000;
  cursor: pointer;
  display: block;
  font-size: 16px;
  margin: auto;
  outline: none;
  text-align: center;
  height: 30px;
  width: 120px;
}

#startbutton:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}